<h1 class="text-center">Workout Lounge</h1>

<h2>List of members</h2>

<% @athletes.each do |ath| %>
  <%= ath.first_name %>
  <%= ath.last_name %>

  <% if current_user %>
    <%= link_to 'Follow', friendships_path(friend_id: ath.id), method: :post,
                          class: 'btn btn-primary' unless current_user.follows_or_same?(ath) %>
  <% end %>
  <hr>
<% end %>

<%= will_paginate @athletes, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
