<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to 'Athletes Den', root_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'My lounge', user_exercises_path(current_user), class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Sign out', destroy_user_session_path, class: 'nav-link', method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>

        <%= form_tag(search_dashboard_path, class: 'navbar-form navbar-left', role: 'search') do %>
          <%= text_field_tag :search_name, params[:search_name], placeholder: 'Search for friends', class: 'form-control' %>
          <%= submit_tag 'Search', class: 'btn btn-default' %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>