<%= notice %>

<h1><%= @friend.full_name %>'s exercises</h1>

<% @exercises.each do |exercise| %>
  <%= exercise.duration_in_min %>
  <%= truncate(exercise.workout, length: 100) %>
  <%= exercise.workout_date %>
<% end %>

<%= content_tag :div, '', id: 'chart', data: { workouts: @exercises } %>

<%= link_to 'Back', user_exercises_path(current_user), class: 'btn btn-secondary' %>