<% @exercises.each do |exercise| %>
  <%= exercise.duration_in_min %>
  <%= exercise.workout %>
  <%= exercise.workout_date %>

  <%= link_to 'Show workout', user_exercise_path(current_user, exercise) %>
  <%= link_to 'Edit workout', edit_user_exercise_path(current_user, exercise) %>
  <%= link_to 'Destroy', user_exercise_path(current_user, exercise), method: :delete %>
  <hr>
<% end %>

<%= link_to 'New workout', new_user_exercise_path(current_user), class: 'btn btn-primary' %>

<%= content_tag :div, '', id: 'chart', data: { workouts: @exercises } %>

<h1 class="text-center">My friends</h1>

<% @friends.each do |friend| %>
  <%= link_to friend.full_name, friendship_path(current_user.current_friendship(friend)) %>
  <%= link_to 'Unfollow', friendship_path(current_user.current_friendship(friend)), method: :delete,
                                          class: 'btn btn-danger'%>
<% end %>