<!DOCTYPE html>
<html>
  <head>
    <title>Workout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/header' %>

      <br>

      <% flash.each do |key, msg| %>
        <div class='alert'>
          <a href="#" class='close' data-dismiss="alert">&#215;</a>
          <b><%= msg %></b>
        </div>
      <% end %>

      <%= yield %>
  </div>
  </body>
</html>
